<div *ngIf="userLogged?.userRole === 'Employee'">
    <mat-card class="refurbishment-operation-card">
        <mat-card-header class="refurbishment-card-header">
            <mat-icon class="cleaning_services_icon" fontSet="material-symbols-outlined">cleaning_services</mat-icon>
            <mat-card-title class="refurbishment-card-title">
                <h2>Applied Services</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
           <form [formGroup]="refurbishmentFormOperation" class="refurbishment-operation-form">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>CPE</mat-label>
                <mat-select style="font-size: 1.5em;" name="modelSelect" (selectionChange)="chooseCpeChoosen()" formControlName="cpeModel" [(ngModel)]="cpeChoosen" placeholder="Select the desired cpe">
                    <mat-option *ngFor="let cpe of cpesAvailable" [value]="cpe">
                            {{ cpe.design }}
                        </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="this.cpeMessageErrorNotValid != ''" class="cpe-error-message">
                <mat-icon class="error-icon" style="transform: scale(1.5);" matPrefix>error</mat-icon>
                <span>{{this.cpeMessageErrorNotValid}}</span>
            </div>

            <mat-form-field *ngIf="cpeChoosen" appearance="fill" class="full-width" [ngClass]="{'sucess-state': cpeMessageErrorNotValid === '' && serialNumberValid, 'error-state': cpeMessageErrorNotValid !== ''}">
                <mat-label>S/N</mat-label>
                <input [maxLength]="lengthSn" [readonly]="this.serialNumberInputDisabled" name="serialNumber" formControlName="serialNumber" [(ngModel)]="serialNumberScanned"
                    #serialNumberInput (keydown)="handleSerialNumberScan($event)" style="font-size: 2rem;" type="text" matInput placeholder="S/N" (input)="checkChangesSerialNumberInput()">
                <mat-icon style="transform: scale(1.5);" matPrefix class="material-symbols-outlined">barcode_scanner</mat-icon>
                <mat-icon class="sucess-serialNumber-read-icon" *ngIf="serialNumberValid && cpeChoosen" matSuffix style="color: #388e3c;">check_circle</mat-icon>
                <mat-icon class="fail-serialNumber-read-icon" *ngIf="!serialNumberValid && cpeChoosen && this.serialNumberScanned.length != 0" matSuffix style="color: red;">cancel</mat-icon>
            </mat-form-field>
            <mat-card *ngIf="serialNumberValid" class="applied-services-card">
            <mat-card-content style="display: flex; justify-content: center;">
                <div class="checkbox-group">
                    <div class="checkbox-item" *ngFor="let service of allowedServicesApplyToCpe">
                        <mat-checkbox class="touch-checkbox" #checkboxRef formControlName="service" (change)="onChange(service, $event.checked)"><span style="font-size: 2em;">{{service.description}}</span></mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
           </mat-card>
           </form>
        </mat-card-content>
        <mat-card-actions *ngIf="serialNumberValid && this.servicesApplied.length > 0" style="display: flex; justify-content: center; margin-bottom: 0.5em;">
            <button class="register-refurbishment-operation-btn" (click)="registerOperationCpeRefurbishment()" style="background-color: black; color: white;" aria-label="Register CPE Refurbishment Operation" mat-raised-button><mat-icon class="register-refurbishment-operation-icon">save</mat-icon>Registar</button>
        </mat-card-actions>
    </mat-card>
</div>

