<mat-toolbar class="navbar-app">
    <mat-toolbar-row>
        <h1 (click)="reload()" style="color: white; font-size: larger;">CPE Services Register</h1>
        <button class="operation-button" style="color: black;" mat-raised-button [matMenuTriggerFor]="operationsMenu">{{operationTitle}}</button>
        <span class="spacer"></span>
        <div class="menu-navbar">
            <span style="color: white; padding-right: 10px;">{{userLogged?.workerno}}</span>
            <button class="employee_icon_menu" mat-icon-button [matMenuTriggerFor]="logoutMenu">
                <mat-icon style="transform: scale(1.3);">account_circle</mat-icon>
            </button>

            <mat-menu #operationsMenu="matMenu">
                <button (click)="navigateToPage('refurbishment')" mat-menu-item>Refurbishment</button>
                <button (click)="navigateToPage('repair')" mat-menu-item>Repair</button>
            </mat-menu>

            <mat-menu #logoutMenu="matMenu">
                <button (click)="logout()" mat-menu-item>Terminar sessão</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
