.navbar-app {
    background-color: black;
}

.employee_icon_menu{
    color: white;
    transform: scale(1.5);
    padding-right: 1em;
}

.operation-button{
    min-width: 120px;
    margin-left: 2em;
    color: white;
}

.spacer{
    flex: 1 1 auto;
}

.menu-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}
