<div class="refurbishment-operation-card">
    <mat-card>
        <mat-card-content>
           <form class="refurbishment-operation-form">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>CPE</mat-label>
                <mat-select style="font-size: 1.5em;" name="modelSelect" (selectionChange)="chooseCpeChoosen()" [(ngModel)]="cpeChoosen" placeholder="Select the desired cpe">
                    <mat-option *ngFor="let cpe of cpesAvailable" [value]="cpe">
                            {{ cpe.design }}
                        </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="this.cpeMessageErrorNotValid != ''" class="cpe-error-message">
                <mat-icon class="error-icon" style="transform: scale(1.5);" matPrefix>error</mat-icon>
                <span>{{this.cpeMessageErrorNotValid}}</span>
            </div>

            <mat-form-field *ngIf="cpeChoosen" appearance="fill" class="full-width" [ngClass]="{'sucess-state': cpeMessageErrorNotValid === '' && serialNumberValid, 'error-state': cpeMessageErrorNotValid !== ''}">
                <mat-label>S/N</mat-label>
                <input #serialNumberInput (keydown)="handleSerialNumberScan($event)" style="font-size: 1.5rem;" type="text" matInput placeholder="S/N">
                <mat-icon style="transform: scale(1.5);" matPrefix class="material-symbols-outlined">barcode_scanner</mat-icon>
                <mat-icon class="sucess-serialNumber-read-icon" *ngIf="serialNumberValid && cpeChoosen" matSuffix style="color: #388e3c;">check_circle</mat-icon>
                <mat-icon class="fail-serialNumber-read-icon" *ngIf="!serialNumberValid && cpeChoosen && this.serialNumberScanned.length != 0" matSuffix style="color: red;">cancel</mat-icon>
            </mat-form-field>
           </form>
           <mat-card>
            <mat-card-header style="display: flex; justify-content: center;">
                <mat-icon class="cleaning_services_icon" fontSet="material-symbols-outlined">cleaning_services</mat-icon>
                <mat-card-title>Apply Services</mat-card-title>
            </mat-card-header>
           </mat-card>
        </mat-card-content>
    </mat-card>
</div>

