<div class="refurbishment-operation-card">
    <mat-card>
        <mat-card-content>
           <form class="refurbishment-operation-form">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>CPE</mat-label>
                <mat-select style="font-size: 1.5em;" name="modelSelect" (selectionChange)="chooseCpeChoosen()" [(ngModel)]="cpeChoosen" placeholder="Select the desired cpe">
                    <mat-option *ngFor="let cpe of cpesAvailable" [value]="cpe">
                            {{ cpe.design }}
                        </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="this.cpeMessageErrorNotValid != ''" class="cpe-error-message">
                <mat-icon fontSet="material-symbols-outlined" style="transform: scale(1.5);" matPrefix>error</mat-icon>
                <span>{{this.cpeMessageErrorNotValid}}</span>
            </div>

            <mat-form-field *ngIf="cpeChoosen" appearance="fill" class="full-width">
                <mat-label>S/N</mat-label>
                <input #serialNumberInput (keydown)="handleSerialNumberScan($event)" style="font-size: 1.5em;" type="text" matInput placeholder="S/N">
                <mat-icon fontSet="material-symbols-outlined" style="transform: scale(1.5);" matPrefix>barcode_scanner</mat-icon>
            </mat-form-field>
           </form>
        </mat-card-content>
    </mat-card>
</div>

