.mat-mdc-form-field {
    --mdc-filled-text-field-focus-active-indicator-color: black !important;
    --mdc-filled-text-field-focus-label-text-color: black !important;
    --mdc-filled-text-field-focus-container-color: black !important;
    --mat-mdc-form-field-focus-label-color: black !important;
}

.mat-form-field.mat-focused .mat-form-field-outline {
    color: black !important;
}

@media  only screen and (min-width: 450px) and (max-width: 1536px) {
    .refurbishment-operation-card{
        width: 80%;
        min-width: 400px;
        max-width: 800px;
        margin: 7em auto;
    }

    .cleaning_services_icon{
        margin-left: 1em;
    }
}

@media  only screen and (min-width: 1537px) and (max-width: 2560px) {
    .refurbishment-operation-card{
        width: 60%;
        min-width: 300px;
        max-width: 800px;
        margin: 10% auto;
    }

    .cleaning_services_icon{
        margin-left: 1rem;
    }
}


.full-width{
    width: 100%;
    word-wrap: break-word;
}

.cpe-error-message{
    display: flex;
    color: #d32f2f;
    align-items: flex-start;
    font-size: 1.5em;
    margin-bottom: 1em;
    gap: 0.7em;
    margin-left: 0.5em;
    margin-top: 8px;
    word-break: break-word;
}

.cpe-error-message mat-icon{
    margin-top: 0.15em;
    flex-shrink: 0;
}

.sucess-serialNumber-read-icon{
    transform: scale(1.5);
}

.fail-serialNumber-read-icon{
    transform: scale(1.5);
    color: red;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;
    justify-items: start;
    margin-top: 1em;
}

.register-refurbishment-operation-icon{
    font-size: 36px !important;
    width: 36px !important;
    height: 36px !important;
}



